@media (max-width:829px){
    footer.footer.py-5 {
        width: 80% !important;
        margin-left: 39px;
    }
    button.navbar-toggler.collapsed {
        margin-left: 198px !important;
    }
    button.navbar-toggler {
        margin-left: 234px !important;
    }
    
    .book-now.text-center.py-5 h5 {
        margin-left: 241px;
    }
   
    footer.footer.py-5 .col-lg-2.text-center {
        margin-top: 20px;
    }
    
    footer.footer.py-5 .col-lg-4.text-center.offset-md-1 {
        margin-top: 20px;
    }
    
    footer.footer.py-5 .col-lg-3.text-center {
        margin-top: 20px;
    }
}
@media (max-width:767px){
    .book-now.text-center.py-5 h5 {
        margin-left: 145px;
    }
    .book-now.text-center.py-5 h5 {
        margin-left: 145px;
    }
    
    .right-food-text {
        margin-top: 12px;
    }
}
@media (max-width:600px){
    button.navbar-toggler.collapsed {
        margin-left: 98px !important;
    }
}
@media (max-width:829px){
    footer.footer.py-5 {
        margin-left: 77px !important;
    }
}
@media (max-width:991px){
    button.navbar-toggler {
        margin-left: 439px !important;
    }
    
}

@media (max-width:545px){

    button.navbar-toggler {
        margin-left: 176px !important;
    }
}